# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.egg
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.egg
*.egg-info
.eggs/
